__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
logs/
__pycache__/
*.log

.vscode/
.idea/


*.pyc
*.pyo
*.pyd

*.bak
*.swp

app/data/cache.json
app/data/chromedriver.exe

.env
venv/
virtualenv/

app/utils/debug.py